<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <!-- <linkth:href="@{/css/bootstrap.css}"rel="stylesheet"/>
    <scriptth:src="@{/js/bootstrap.js}"></script> -->
</head>
<body>
    <h1>This is my first website that I use Spring Boot.</h1>
    <a href="/about">about</a>

    <form method="get" action="/hello">
        <input type="input" name="name" id="">
        <button type="submit">Submit</button>
    </form>

    <h2 th:utext="#{loda.hello}"></h2>
    <a th:href="@{/profile}" class="btn btn-primary">Loda Profile</a>
</body>
</html>