<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blossom</title>
    <linkth:href="@{ /css/bootstrap.css}"rel="stylesheet" />
    <scriptth:src="@{ /js/bootstrap.js}">
        </script>
</head>

<body>
    <h1 th:utext="#{loda.hello}"></h1>
    <h2>Blossom profile</h2>
    <ul><!--Duyệt qua toàn bộ phần tử trong biến "lodaProfile"-->
        <li th:each="info : ${lodaProfile}"><!--Với mỗi phần tử, lấy ra key và value-->
            <span th:text="*{infor.key}"></span> : <span th:text="*{infor.value}"></span></li>
    </ul>
</body>

</html>